[Unit]
Description=SISC BOT service

[Service]
Type=simple
ExecStart=python3 /home/pi/SISC/sisc_bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target